<?xml version="1.0"?>
<launch>

  <!-- Robot Description -->
  <arg name="model" default="$(find xacro)/xacro --inorder $(find iqr_bunker_description)/urdf/iqr_bunker_robot.urdf.xacro"/>
  <param name="robot_description" command="$(arg model)"/>

  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- bunker -->
  <include file="$(find bunker_base)/launch/base.launch">
    <arg name="pub_description" value="false"/>
    <arg name="enable_ekf" default="true"/>
  </include>

  <!-- VLP16 -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="device_ip" default="192.168.1.201"/>
    <arg name="frame_id" default="velodyne"/>
    <arg name="max_range" default="100.0"/>
    <arg name="rpm" default="600"/>
  </include>

  <!-- realsense d435i -->
  <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
    <arg name="tf_prefix"             value="camera"/>
    <arg name="initial_reset"         value="false"/>
    <arg name="enable_sync"           value="true"/>
    <arg name="align_depth"           value="true"/>
    <arg name="enable_pointcloud"     value="true"/>
  </include>

  <!-- GPS -->
  <!-- <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen">
    <param name="port" value="/dev/gps_com"/>
    <param name="baud" value="115200" />
    <param name="frame_id" value="main_gps_link" />
    <param name="use_GNSS_time" value="false" />
    <param name="time_ref_source" value="gps" />
    <param name="useRMC" value="false" />
  </node> -->

  <!-- IMU -->
  <node pkg="jy901_driver" type="jy901_driver_node" name="jy901_driver_node" output="screen" >
    <param name="baudrate" type="int" value="115200" />
    <param name="port" type="string" value="/dev/imu_com" />
    <param name="looprate" type="int" value="50" />
  </node>

</launch>